.jumbotron
    h1 outside of container-fluid
.container
    .row
        .col-md-4.col-sm-12
            - var tl = public.projects._data.BricoReactor
            
            h3 #{ en.projects.BricoReactor } Project Timeline

            ol.timeline
              for item in tl
                li.tl-node
                    .tl-stamp #{ item.stamp }
                    .tl-content
                        h5 #{ item.content }
                        ul.list-unstyled
                            - for (var label in item.links) {
                                li.hidden-sm.hidden-xs
                                    a.btn.btn-sm.btn-primary(href="#{ item.links[label] }", style="margin: 0 6px 6px 0;", target="kcontent") #{ label }
                                    a(href="#{ item.links[label] }", target="_blank").glyphicon.glyphicon-new-window
                                li.hidden-md.hidden-lg
                                    a.btn.btn-sm.btn-primary(href="#{ item.links[label] }", style="margin: 0 6px 6px 0;") #{ label }
                            - }
        .col-md-8.hidden-sm.hidden-xs.text-center
            h3 Content from the links on the left
            iframe(name="kcontent", href="/404.html").googleCalendarIframe
//- <script src="https://hackpad.com/ZFldzmOj6J3.js"></script><noscript><div>View <a href="https://hackpad.com/ZFldzmOj6J3">Discussion: Embedding</a> on Hackpad.</div></noscript>
