footer.bs-footer
    .divider
    .container.text-center
        .col-md-6
            h5(style="display:inline;") Projects quick links:
            - for(var website in urls.project){
            a(alt="#{urls.project[website][0]}", href="#{urls.project[website][1]}", target="_blank")
                img(src="/img/#{website}.png", style="height:45px;")
            -}            
        .col-md-6
            h5(style="display:inline;") Social media quick links:
            - for(var website in urls.social){
            a(alt="#{urls.social[website][0]}", href="#{urls.social[website][1]}", target="_blank")
                img(src="/img/#{website}.png", style="height:45px;")
            -}            
    //- 
            .panel-group(id="accordion")
                .panel.panel-default
                    .panel-heading
                        h5.panel-title 
                            a(data-toggle="collapse", data-parent="#accordion" href="#collapseOne") Also find Bricobio at these online locations
                    .panel-collapse.collapse.in(id="collapseOne")
                        .panel-body
                            
                            
                    .panel-heading
                        h5.panel-title
                            a(data-toggle="collapse", data-parent="#accordion" href="#collapseTwo") Check out these other DIYbio spaces!
                    .panel-collapse.collapse.out(id="collapseTwo")
                        .panel-body
                            ul
                                li Genspace (tw, fb, linkedin, )
                                li La Paillaise (tw, fb, linkedin, )
                                li BioCurious (tw, fb, linkedin, )
                                li DIYbio Toronto (tw, fb, linkedin, )
                    .panel-heading
                        h5.panel-title
                            a(data-toggle="collapse", data-parent="#accordion" href="#collapseThree") Check out these organizations!
                    .panel-collapse.collapse.out(id="collapseThree")
                        .panel-body
                            ul
                                li Sensorica
                                li Synbiota
                                li McGill University
                                li Université de Montréal
                                li Concordia University
                                li Hyasynth Biologicals
                                li UQAM
                                li Genome Quebec

                
    hr
    .container.text-center
        p &nbsp; Bricobio, est. 2013
        br
